{% extends "lizard_auth_client/management/base.html" %}
{% load i18n %}

{% block body %}
<div class="container">
    <h2>{{ organisation.name }}</h2>
    {% if users %}
    <ul>
        {% for user in users %}
        <li><a href="{% url 'lizard_auth_client.management_user_organisation_detail' organisation_pk=organisation.pk user_pk=user.pk %}">{{ user.username }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
        <p>{% trans "No users linked to the given organisation." %}</p>
    {% endif %}
    {% comment %}connect 'add user' to /organisations/<id>/users/add/ url{% endcomment %}
    <a href="#" class="btn btn-primary" role="button">Add new user</a>
</div>
{% endblock %}