[buildout]
index = https://packages.lizard.net
extends = https://packages.lizard.net/kgs/latest.cfg
find-links =
prefer-final = true
versions = versions
extensions =
    mr.developer
show-picked-versions = true
parts =
    sysegg
    mkdir
    django
    omelette
    console_scripts
    pyflakes
    pydev
develop = .
eggs =
    lizard-auth-client
    lizard-auth-client[test]


[versions]
# Specific pins.
lizard-auth-client =
Django = 1.7.8

# Reported by buildout
Pygments = 2.0.2
bleach = 1.4.2
chardet = 2.3.0
check-manifest = 0.25
coveralls = 1.1
createcoverage = 1.4
docopt = 0.6.2
fake-factory = 0.5.7
html5lib = 0.9999999
ipaddress = 1.0.16
itsdangerous = 0.24
pyroma = 1.8.2
python-dateutil = 2.5.2
readme = 0.6.0
requests = 2.7.0
requests-toolbelt = 0.4.0
twine = 1.6.1
wheel = 0.26.0


[sources]
# Examples:
# lizard-ui = git git@github.com:lizardsystem/lizard-ui.git


[sysegg]
recipe = syseggrecipe
force-sysegg = true
eggs =
    psycopg2


[mkdir]
recipe = z3c.recipe.mkdir
paths =
    ${buildout:directory}/var/static
    ${buildout:directory}/var/media
    ${buildout:directory}/var/log
    ${buildout:directory}/var/sqlite
    ${buildout:directory}/var/cache


[django]
# Sets up django for testing our application.
# See http://jacobian.org/writing/django-apps-with-buildout/
recipe = djangorecipe
project = lizard_auth_client
settings = testsettings
test = lizard_auth_client
eggs = ${buildout:eggs}


[omelette]
# Creates a nice parts/omelette with our used eggs
recipe = collective.recipe.omelette
eggs = ${buildout:eggs}


[console_scripts]
recipe = zc.recipe.egg
interpreter = python
dependent-scripts = true
eggs =
    ${buildout:eggs}
# Development tools
    createcoverage
    pep8
    zest.releaser
    zest.releaser[recommended]


[pyflakes]
# Hairy way to install pyflakes: old-style distutils script.
recipe = zc.recipe.egg
scripts =
   pyflakes
eggs =
   pyflakes
entry-points = pyflakes=pkg_resources:run_script
arguments = 'pyflakes', 'pyflakes'


[pydev]
recipe = pb.recipes.pydev
eggs = ${buildout:eggs}
pydevproject_path = ${buildout:directory}/.pydevproject
extra_paths =
