[buildout]
index = https://packages.lizard.net
find-links =
prefer-final = true
versions = versions
extensions =
    mr.developer
show-picked-versions = true
parts =
#    sysegg
    mkdir
    django
    omelette
    console_scripts
    pyflakes
    pydev
develop = .
eggs =
    lizard-auth-client
    lizard-auth-client[test]


[versions]
# Specific pins.
lizard-auth-client =
Django = 1.8.14

# Reported by buildout
PyJWT = 1.4.2
Pygments = 2.1.3
args = 0.1.0
bleach = 1.4.3
chardet = 2.3.0
check-manifest = 0.32
clint = 0.5.1
collective.recipe.omelette = 0.16
colorama = 0.3.7
coverage = 4.2
coveralls = 1.1
createcoverage = 1.5
django-appconf = 1.0.2
django-extensions = 1.7.2
django-nose = 1.4.4
djangorecipe = 2.2.1
docopt = 0.6.2
docutils = 0.12
factory-boy = 2.7.0
fake-factory = 0.6.0
funcsigs = 1.0.2
html5lib = 0.9999999
ipaddress = 1.0.16
itsdangerous = 0.24
mock = 2.0.0
mr.developer = 1.34
nose = 1.3.7
pb.recipes.pydev = 0.4.5
pbr = 1.10.0
pep8 = 1.7.0
pkginfo = 1.3.2
pyflakes = 1.2.3
pyroma = 2.0.2
python-dateutil = 2.5.3
readme-renderer = 0.7.0
requests = 2.11.1
requests-toolbelt = 0.7.0
setuptools = 26.0.0
six = 1.10.0
syseggrecipe = 1.5.1
twine = 1.8.1
wheel = 0.29.0
z3c.recipe.mkdir = 0.6
zc.buildout = 2.5.2
zc.recipe.egg = 2.0.3
zest.releaser = 6.6.4


[sources]
# Examples:
# lizard-ui = git git@github.com:lizardsystem/lizard-ui.git


# [sysegg]
# recipe = syseggrecipe
# force-sysegg = true
# eggs =
#     psycopg2


[mkdir]
recipe = z3c.recipe.mkdir
paths =
    ${buildout:directory}/var/static
    ${buildout:directory}/var/media
    ${buildout:directory}/var/log
    ${buildout:directory}/var/sqlite
    ${buildout:directory}/var/cache


[django]
# Sets up django for testing our application.
# See http://jacobian.org/writing/django-apps-with-buildout/
recipe = djangorecipe
project = lizard_auth_client
settings = testsettings
test = lizard_auth_client
eggs = ${buildout:eggs}
coverage = true


[omelette]
# Creates a nice parts/omelette with our used eggs
recipe = collective.recipe.omelette
eggs = ${buildout:eggs}


[console_scripts]
recipe = zc.recipe.egg
interpreter = python
dependent-scripts = true
eggs =
    ${buildout:eggs}
# Development tools
    createcoverage
    pep8
    zest.releaser
    zest.releaser[recommended]


[pyflakes]
# Hairy way to install pyflakes: old-style distutils script.
recipe = zc.recipe.egg
scripts =
   pyflakes
eggs =
   pyflakes
entry-points = pyflakes=pkg_resources:run_script
arguments = 'pyflakes', 'pyflakes'


[pydev]
recipe = pb.recipes.pydev
eggs = ${buildout:eggs}
pydevproject_path = ${buildout:directory}/.pydevproject
extra_paths =
