{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load static %}

<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset=utf-8>
    <title>{% block title %}Management{% endblock %}</title>

    <!-- jQuery Core 3.1.1 slim minified -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
    integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="
    crossorigin="anonymous"></script>

    <!-- Bootstrap compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

    <!-- Bootstrap-select compiled and minified JavaScript -->
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js"></script>

    <!-- Bootstrap compiled and minified CSS -->
    <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">

    <!-- Bootstrap-select compiled and minified CSS -->
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css">

    <!-- Custom styles for this template -->
    <link href="{% static 'lizard_auth_client/css/main.css' %}" rel="stylesheet">

    <!-- Bootstrap-select compiled and minified JavaScript translation files -->
    {% if 'nl' in LANGUAGE_CODE %}
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/i18n/defaults-nl_NL.min.js"></script>
    {% else %}
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/i18n/defaults-en_US.min.js"></script>
    {% endif %}

  </head>
  <body style="margin: 10px 0;">

  {% block body %}
     <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'lizard_auth_client.management_users_index' %}">{% trans "User management" %}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">{% trans 'Logged in as' %} {{ user }}</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      {% if messages %}
        {% for message in messages %}
        <div class="alert {% if message.tags %}{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
        {% endfor %}
      {% endif %}

      {% block container %}
      {% endblock %}
    </div>
  {% endblock %}
  </body>
</html>